DATABASE_URL=

RESEND_API_KEY=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=

RESERVATION_PREFIX=MPB

# IZIPAY
IZIPAY_USERNAME=85687902
IZIPAY_PASSWORD=
IZIPAY_PUBLIC_KEY=
IZIPAY_HMACSHA256=
IZIPAY_CURRENCY=USD
IZIPAY_ENABLE_INSTALLMENTS=true
IZIPAY_ALLOWED_INSTALLMENTS=3,6,9,12
IZIPAY_EMBED_ENDPOINT=https://static.micuentaweb.pe
IZIPAY_EMBED_TITLE=Card Information
IZIPAY_EMBED_COMPACT=true
IZIPAY_EMBED_HIDE_CARDHOLDER=true
IZIPAY_EMBED_HIDE_INSTALLMENTS=true
IZIPAY_EMBED_LOAD_THEME_ASSETS=true

NEXT_PUBLIC_BACKEND_URL=http://localhost:4000